# Mac
Icon?

# Media
.mp4
*.mp4

# Others
.vscode
.idea
*.so
*.o
*pyc

# FairMOT
app/FairMOT/DCNv2/_ext
app/FairMOT/DCNv2/build
app/FairMOT/models
app/FairMOT/DCNv2/DCNv2.egg-info
app/FairMOT/DCNv2/dist

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

