# Mac
Icon?

# Media
.mp4
*.mp4

# Others
.vscode
.idea
*.so
*.o
*pyc

# FairMOT
FairMOT/DCNv2/_ext
FairMOT/DCNv2/build
FairMOT/models/*.pth
FairMOT/DCNv2/DCNv2.egg-info
FairMOT/DCNv2/dist

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

videos/*.mp4