# docker-compose.yml

version: '3.8'
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.web
    command: bash -c 'while !</dev/tcp/db/5432; do sleep 1; done; uvicorn main:app --host 0.0.0.0'
    # containers are sharing the same file at root directory
    volumes:
      - .:/lauretta
    expose:
      - 8000
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://fastapi_traefik:fastapi_traefik@db:5432/fastapi_traefik
    depends_on:
      - db
    labels:
      - "traefik.enable=false"
      - "traefik.http.routers.fastapi.rule=Host(`fastapi.localhost`)"
      
  fair:
    build:
      context: .
      dockerfile: Dockerfile.fair
    command: bash -c 'python3 src/track.py mot'
    volumes:
      - .:/lauretta
    ports:
      - "100:100"
    depends_on:
      - db

  monoloco:
    build:
      context: .
      dockerfile: Dockerfile.monoloco
    command: bash -c 'python3 -m monoloco.run predict docs/frame0032.jpg --activities social_distance --output_types front bird'
    volumes:
      - .:/lauretta
    ports:
      - "200:200"
    depends_on:
      - db

  db:
    image: postgres:13-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    expose:
      - 5432
    environment:
      - POSTGRES_USER=fastapi_traefik
      - POSTGRES_PASSWORD=fastapi_traefik
      - POSTGRES_DB=fastapi_traefik
    ports:
      - "5432:5432"

  traefik:
    image: traefik:v2.2
    ports:
      - 8008:82
      - 8081:8080
    volumes:
      - "./traefik.dev.toml:/etc/traefik/traefik.toml"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"

volumes:
  postgres_data:
