yacs==0.1.8
opencv-python==4.5.4.58
PyYAML==5.4.1
requests==2.26.0
scipy==1.7.1
progress
openpyxl
Pillow==8.3.2
tensorboardX
fvcore
torch==1.9.1
torchvision==0.10.1
argparse
llvmlite==0.36.0
matplotlib==3.4.3
mccabe==0.6.1
motmetrics==1.2.0
numba==0.53.1
numpy==1.21.2